body {
    background-color: #74a174;;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#main-container {
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 0px;
}

h1 {
    margin: 0px auto 30px auto;
    padding: 0px;
    font-family: 'Paytone One', sans-serif;
    font-size: 50px;
    color: #D8A800;
}

input, select, textarea {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 2px auto 20px auto;
    background-color: #f7f7f7;
    border-width: 1px;
    border-color: #e6e6e6;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    
}

input::placeholder, textarea::placeholder {
    font-family: 'Nunito', sans-serif;
}

select {

}
textarea {
    min-width: 400px;
    min-height: 100px;
}

input[type="submit"] {
    margin: 20px auto 0px auto;
    justify-content: center;
    background-color: #649865;
    color: #ffffff;
    font-weight: bolder;
    font-size: larger;
}

