/*STYLESHEET FOR FORM.HTML*/
body {
    background-color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    color: rgb(51, 51, 51);
}

input, button, select, textarea {
    font-size: 100%;
    font-family: 'Work Sans', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    margin: 5px;
    border-width: 1px;
}

#selectlist2 {
    vertical-align: middle;
}

fieldset {
    color: #0068e3;
    padding: 5px;
    width: 300px;
}

select {
    margin: 10px 0px 10px 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 5px 10px;
}

select:not([multiple]) { /*applies styling to any select elements that don't have the multiple attribute*/
    background-color: rgb(192, 241, 179);
    padding: 5px;
}

/*TARGETS A SPECIFIC INPUT TYPE*/
input[type="file"] {
    font-size: 12px;
}

input[type="url"] {
    width: 20em;
}

input[type="submit"], input[type="reset"] {
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
}

/*
input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 2px dashed red;
}
*/